/* =========================
    VARIABLES DE MARCA
   ========================= */
:root {
    --color-primary: #0B1F33;   /* Azul profundo */
    --color-secondary: #1F2A37; /* Gris navy */
    --color-accent: #22D3EE;    /* Cian técnico */
    --color-light: #F9FAFB;     /* Blanco técnico */
    --color-muted: #9CA3AF;     /* Gris claro */

    --font-main: 'Inter', system-ui, -apple-system, sans-serif;
}

/* =========================
    RESET BÁSICO
   ========================= */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* =========================
    BASE GLOBAL
   ========================= */

html, body {
    height: 100%; /*obliga al documento a usar todo el alto*/
}

body {
    font-family: var(--font-main);
    background-color: var(--color-primary);
    color: var(--color-light);
    line-height: 1.6;

    /*Configuración para el Sticky Footer*/
    display: flex;
    flex-direction: column;
}

/* =========================
    CONTENEDOR
   ========================= */
.container {
    max-width: 1100px;
    margin: 0 auto; 
    padding: 0 20px;
    box-sizing: border-box;
}

/* =========================
    HEADER
   ========================= */
.site-header {
    background-color: var(--color-secondary);
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

.brand {
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

.brand-logo {
    width: 36px;
    height: 36px;
}

.brand-name {
    font-weight: 600;
    font-size: 1.1rem;
}

/* =========================
    MAIN
   ========================= */
.site-main {
    padding: 4rem 0;
    flex: 1; /*Esto empuja el footer hacia abajo*/
}

/* =========================
    HERO
   ========================= */
.hero {
    max-width: 700px;
}

.hero h2 {
    font-size: 2.4rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.hero p {
    font-size: 1.1rem;
    color: var(--color-muted);
}

/* =========================
    FOOTER
   ========================= */
.site-footer {
    background-color: var(--color-secondary);
    border-top: 1px solid rgba(255, 255, 255, 0.05);
    padding: 1.5rem 0;
}

.site-footer p {
    font-size: 0.9rem;
    color: var(--color-muted);
    text-align: center;
}
