/* =========================
    VARIABLES DE MARCA
   ========================= */
:root {
    --color-primary: #0B1F33;   /* Azul profundo */
    --color-secondary: #1F2A37; /* Gris navy */
    --color-accent: #22D3EE;    /* Cian técnico */
    --color-light: #F9FAFB;     /* Blanco técnico */
    --color-muted: #9CA3AF;     /* Gris claro */

    --font-main: 'Inter', system-ui, -apple-system, sans-serif;
}

/* =========================
    RESET BÁSICO
   ========================= */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* =========================
    BASE GLOBAL
   ========================= */

html, body {
    height: 100%; /*obliga al documento a usar todo el alto*/
}

body {
    font-family: var(--font-main);
    background-color: var(--color-primary);
    color: var(--color-light);
    line-height: 1.6;

    /*Configuración para el Sticky Footer*/
    display: flex;
    flex-direction: column;
}

/* =========================
    CONTENEDOR
   ========================= */
.container {
    max-width: 1100px;
    margin: 0 auto; 
    padding: 0 20px;
    box-sizing: border-box;
}

/* =========================
    HEADER
   ========================= */
.site-header {
    background-color: var(--color-secondary);
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
    box-sizing: border-box;
    padding: 0 20px;
}

.brand {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    margin: 20px;
}

.brand-logo {
    width: 98px;
    height: 98px;
}

.brand-name {
    font-weight: 600;
    font-size: 1.1rem;
}

/* =========================
    MAIN
   ========================= */
.site-main {
    padding: 4rem 0;
    flex: 1; /*Esto empuja el footer hacia abajo*/
}

/* =========================
    HERO
   ========================= */
.hero {
    max-width: 700px;
}

.hero h2 {
    font-size: 2.4rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.hero p {
    font-size: 1.1rem;
    color: var(--color-muted);
}

/* =========================
    FOOTER
   ========================= */
.site-footer {
    background-color: var(--color-secondary);
    border-top: 1px solid rgba(255, 255, 255, 0.05);
    padding: 1.5rem 0;
}

.site-footer p {
    font-size: 0.9rem;
    color: var(--color-muted);
    text-align: center;
}

/* ==========================
    ABOUT
   ==========================*/
.about{
    background-color: var(--color-secondary);
    padding: 4rem 0;
    gap: 1.5rem;
}

.about h3 {
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
}

.about-text {
    max-width: 700px;
    margin-bottom: 1rem;
    color: var(--color-light);
}

/*.about-section {
    display: flex;
    flex-direction: column;
    gap: 1.5rem; /* Espacio uniforme entre los parrafos
    max-width: 800px;
    margin: 0 auto;
}

about.text {
    line-height: 1.8;
    color: var(--color-light);
    padding-left: 1rem; /* para dar un toque 'bloquote' 
    border-left: 2px solid var(--color-accent);
}*/

/* ==========================
    SERVICES
   ==========================*/
.services {
    padding: 4rem 0;
}

.services h3 {
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 2rem;
}

.services-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 1.5rem;
}

.services-card {
    background-color: var(--color-secondary);
    padding: 1.5rem;
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.05);
    transition: transform 02.s ease, border-color 02.s ease;
}

.services-card h4 {
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.services-card p {
    font-size: 0.9rem;
    color: var(--color-muted);
}

.services-card:hover {
    transform: translateY((-4px));
    border-color: var(--color-accent);
}

/* ==========================
    PROJECTS
   ==========================*/
.projects { 
    background-color: var(--color-secondary);
    padding: 4rem 0;
}
   
.projects h3 {
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 2rem;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 2rem;
}

.project-card {
    background-color: var(--color-primary);
    padding: 1.8rem;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.05);
}

.project-card h4 {
    font-size: 1.2rem;
    margin-bottom: 0.75rem;
}

.project-description {
    color: var(--color-muted);
    margin-bottom: 1rem;
    font-size: 0.95rem;
}

.project-details {
    list-style: none;
}

.project-details li {
    font-size: 0.9rem;
    margin-bottom: 0.4rem;
}

.project-details strong {
    color: var(--color-light);
}

.project-card:hover {
    transform: translateY((-4px));
    border-color: var(--color-accent);
}

/* ==========================
    STACK
   ==========================*/
.stack {
    padding: 4rem 0;
}

.stack h3 {
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 2rem;
}

.stack-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 2rem;
}

.stack-group {
    background-color: var(--color-secondary);
    padding: 1.5rem;
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.05);
    transition: transform 02.s ease, border-color 02.s ease;
}

.stack-group h4 {
    font-size: 1.1rem;
    margin-bottom: 0.75rem;
}

.stack-group ul {
    list-style: none;
}

.stack-group li {
    font-size: 0.95rem;
    color: var(--color-muted);
    margin-bottom: 0.4rem;
}

.stack-group:hover {
    transform: translateY((-4px));
    border-color: var(--color-accent);
}

/* =========================
   CONTACT
   ========================= */
.contact {
    background-color: var(--color-secondary);
    padding: 4rem 0;
}

.contact h3 {
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
}

.contact-text {
    max-width: 600px;
    color: var(--color-muted);
    margin-bottom: 1.5rem;
}

.contact-list li {
    margin-bottom: 0.8rem;
    font-size: 0.95rem;
}

.contact-list a {
    color: var(--color-accent);
    text-decoration: none;
}

.contact-list a:hover {
    text-decoration: underline;
}